section.hero.is-medium.is-bold{
    background-image: url(image/ขนมไทยปก.jpg);
    background-size: cover;
    background-position: center center;
}

footer.footer3{

    
    background-color:black;
    height: 250px;
    

}
footer.footer2{
    background-color: pink;
}

#bg2{
    background-image: url(image/ล1.jpg)
}

#bg3{
    background-image: url(image/ทองหยอดปก1.jpg)
}

#bg4{
    background-image: url(image/ทองม้วน1.jpg)
}
#bg5{
    background-image: url(image/ขนมสัมปันนีปก.jpg)
}